* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}


@import url('link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet');


body {
    font-family: Poppins, sans-serif;
    height: 100vh;  
    
}

section {
    position: relative;
}

article {
    text-transform: uppercase;
    z-index: 2;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
}

h1, p {
    color: white;
    font-weight: 400;
}

h1 {
    font-size: 3.5em;
}

p {
    font-size: 2.8em;
}

section article  {
    position: absolute;
    top: 290px;
    right: 234px;
    text-align: right;
}


